SwmSuite.Proxy.WebService/Web References/LoggingService/LoggingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="SimpleWorkfloorManagementSuiteNameSpace" xmlns:s1="SwmSuite_v1" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s2="http://microsoft.com/wsdl/types/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="SimpleWorkfloorManagementSuiteNameSpace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="SimpleWorkfloorManagementSuiteNameSpace">
      <s:import namespace="SwmSuite_v1" />
      <s:element name="GetConnectionLogs">
        <s:complexType />
      </s:element>
      <s:element name="GetConnectionLogsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConnectionLogsResult">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="ConnectionLog" nillable="true" type="s1:ConnectionLog" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SwmSuiteSoapHeader" type="tns:SwmSuiteSoapHeader" />
      <s:complexType name="SwmSuiteSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Employee" type="s:int" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetConnectionLogsByMonth">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="month" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConnectionLogsByMonthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConnectionLogsByMonthResult">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="ConnectionLog" nillable="true" type="s1:ConnectionLog" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogConnection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionLog" type="s1:ConnectionLog" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogConnectionResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetLoginLogs">
        <s:complexType />
      </s:element>
      <s:element name="GetLoginLogsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoginLogsResult">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="LoginLog" nillable="true" type="s1:LoginLog" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginLogsByMonth">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="month" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginLogsByMonthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoginLogsByMonthResult">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="LoginLog" nillable="true" type="s1:LoginLog" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginLog" type="s1:LoginLog" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogLoginResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="SwmSuite_v1">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:complexType name="ConnectionLog">
        <s:complexContent mixed="false">
          <s:extension base="s1:BusinessObjectBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="DateTime" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Client" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BusinessObjectBase">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SysId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RowVersion" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LoginLog">
        <s:complexContent mixed="false">
          <s:extension base="s1:BusinessObjectBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="DateTime" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Employee" type="s1:Employee" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Employee">
        <s:complexContent mixed="false">
          <s:extension base="s1:BusinessObjectBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="UserSysId" type="s2:guid" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s1:ZipCode" />
              <s:element minOccurs="0" maxOccurs="1" name="PrivatePhoneNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="WorkPhoneNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CellPhoneNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EmailAddress1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EmailAddress2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EmailAddress3" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EmailAddress4" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EmailAddress5" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Avatar" type="s1:Avatar" />
              <s:element minOccurs="0" maxOccurs="1" name="Settings" type="s1:EmployeeSettings" />
              <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Administrator" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ZipCode">
        <s:complexContent mixed="false">
          <s:extension base="s1:BusinessObjectBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Avatar">
        <s:complexContent mixed="false">
          <s:extension base="s1:BusinessObjectBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Picture" type="s:base64Binary" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EmployeeSettings">
        <s:complexContent mixed="false">
          <s:extension base="s1:BusinessObjectBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="AutoLogon" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="AutoLogonHost" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="LogoutTimeout" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="EmailNotification" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SmtpServer" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SmtpPort" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="SecureConnection" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Authentication" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetConnectionLogsSoapIn">
    <wsdl:part name="parameters" element="tns:GetConnectionLogs" />
  </wsdl:message>
  <wsdl:message name="GetConnectionLogsSoapOut">
    <wsdl:part name="parameters" element="tns:GetConnectionLogsResponse" />
  </wsdl:message>
  <wsdl:message name="GetConnectionLogsSwmSuiteSoapHeader">
    <wsdl:part name="SwmSuiteSoapHeader" element="tns:SwmSuiteSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetConnectionLogsByMonthSoapIn">
    <wsdl:part name="parameters" element="tns:GetConnectionLogsByMonth" />
  </wsdl:message>
  <wsdl:message name="GetConnectionLogsByMonthSoapOut">
    <wsdl:part name="parameters" element="tns:GetConnectionLogsByMonthResponse" />
  </wsdl:message>
  <wsdl:message name="GetConnectionLogsByMonthSwmSuiteSoapHeader">
    <wsdl:part name="SwmSuiteSoapHeader" element="tns:SwmSuiteSoapHeader" />
  </wsdl:message>
  <wsdl:message name="LogConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:LogConnection" />
  </wsdl:message>
  <wsdl:message name="LogConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:LogConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="LogConnectionSwmSuiteSoapHeader">
    <wsdl:part name="SwmSuiteSoapHeader" element="tns:SwmSuiteSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetLoginLogsSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoginLogs" />
  </wsdl:message>
  <wsdl:message name="GetLoginLogsSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoginLogsResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginLogsSwmSuiteSoapHeader">
    <wsdl:part name="SwmSuiteSoapHeader" element="tns:SwmSuiteSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetLoginLogsByMonthSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoginLogsByMonth" />
  </wsdl:message>
  <wsdl:message name="GetLoginLogsByMonthSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoginLogsByMonthResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginLogsByMonthSwmSuiteSoapHeader">
    <wsdl:part name="SwmSuiteSoapHeader" element="tns:SwmSuiteSoapHeader" />
  </wsdl:message>
  <wsdl:message name="LogLoginSoapIn">
    <wsdl:part name="parameters" element="tns:LogLogin" />
  </wsdl:message>
  <wsdl:message name="LogLoginSoapOut">
    <wsdl:part name="parameters" element="tns:LogLoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogLoginSwmSuiteSoapHeader">
    <wsdl:part name="SwmSuiteSoapHeader" element="tns:SwmSuiteSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="LoggingServiceSoap">
    <wsdl:operation name="GetConnectionLogs">
      <wsdl:input message="tns:GetConnectionLogsSoapIn" />
      <wsdl:output message="tns:GetConnectionLogsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionLogsByMonth">
      <wsdl:input message="tns:GetConnectionLogsByMonthSoapIn" />
      <wsdl:output message="tns:GetConnectionLogsByMonthSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogConnection">
      <wsdl:input message="tns:LogConnectionSoapIn" />
      <wsdl:output message="tns:LogConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginLogs">
      <wsdl:input message="tns:GetLoginLogsSoapIn" />
      <wsdl:output message="tns:GetLoginLogsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginLogsByMonth">
      <wsdl:input message="tns:GetLoginLogsByMonthSoapIn" />
      <wsdl:output message="tns:GetLoginLogsByMonthSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogLogin">
      <wsdl:input message="tns:LogLoginSoapIn" />
      <wsdl:output message="tns:LogLoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoggingServiceSoap" type="tns:LoggingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetConnectionLogs">
      <soap:operation soapAction="SimpleWorkfloorManagementSuiteNameSpace/GetConnectionLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetConnectionLogsSwmSuiteSoapHeader" part="SwmSuiteSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectionLogsByMonth">
      <soap:operation soapAction="SimpleWorkfloorManagementSuiteNameSpace/GetConnectionLogsByMonth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetConnectionLogsByMonthSwmSuiteSoapHeader" part="SwmSuiteSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogConnection">
      <soap:operation soapAction="SimpleWorkfloorManagementSuiteNameSpace/LogConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LogConnectionSwmSuiteSoapHeader" part="SwmSuiteSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginLogs">
      <soap:operation soapAction="SimpleWorkfloorManagementSuiteNameSpace/GetLoginLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetLoginLogsSwmSuiteSoapHeader" part="SwmSuiteSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginLogsByMonth">
      <soap:operation soapAction="SimpleWorkfloorManagementSuiteNameSpace/GetLoginLogsByMonth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetLoginLogsByMonthSwmSuiteSoapHeader" part="SwmSuiteSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogLogin">
      <soap:operation soapAction="SimpleWorkfloorManagementSuiteNameSpace/LogLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LogLoginSwmSuiteSoapHeader" part="SwmSuiteSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoggingServiceSoap12" type="tns:LoggingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetConnectionLogs">
      <soap12:operation soapAction="SimpleWorkfloorManagementSuiteNameSpace/GetConnectionLogs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetConnectionLogsSwmSuiteSoapHeader" part="SwmSuiteSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectionLogsByMonth">
      <soap12:operation soapAction="SimpleWorkfloorManagementSuiteNameSpace/GetConnectionLogsByMonth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetConnectionLogsByMonthSwmSuiteSoapHeader" part="SwmSuiteSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogConnection">
      <soap12:operation soapAction="SimpleWorkfloorManagementSuiteNameSpace/LogConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:LogConnectionSwmSuiteSoapHeader" part="SwmSuiteSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginLogs">
      <soap12:operation soapAction="SimpleWorkfloorManagementSuiteNameSpace/GetLoginLogs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetLoginLogsSwmSuiteSoapHeader" part="SwmSuiteSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginLogsByMonth">
      <soap12:operation soapAction="SimpleWorkfloorManagementSuiteNameSpace/GetLoginLogsByMonth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetLoginLogsByMonthSwmSuiteSoapHeader" part="SwmSuiteSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogLogin">
      <soap12:operation soapAction="SimpleWorkfloorManagementSuiteNameSpace/LogLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:LogLoginSwmSuiteSoapHeader" part="SwmSuiteSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoggingService">
    <wsdl:port name="LoggingServiceSoap" binding="tns:LoggingServiceSoap">
      <soap:address location="http://localhost/SWMSuite.Facade.WebService/LoggingService.asmx" />
    </wsdl:port>
    <wsdl:port name="LoggingServiceSoap12" binding="tns:LoggingServiceSoap12">
      <soap12:address location="http://localhost/SWMSuite.Facade.WebService/LoggingService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>